@import 'cards.css';
@import 'hero.css';
@import 'fonts.css';
@import 'aos/dist/aos.css';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245,245,245);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80%;
  margin: auto;
}

h2 {
  font-size: 48px;
  font-family: 'Raleway', Helvetica, sans-serif;
  background: linear-gradient(transparent 65%, rgba(0, 82259, 25, 0.21) 10%, rgba(0, 225, 25, 0.21) 90%, transparent 120%);
  padding: 4px;
  width: max-content;
}

@media (max-width: 419px) {
  h2 {
    font-size: 40px;
  }
}
