.project-card {
  margin: 10px 0;
  text-align: center;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-photo {
  width: 40vw;
  height: 100%;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.4);
}

.project-photo:hover {
  box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.5);
}

.project-info {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info h3 {
  border-bottom: 1px solid rgba(0,0,0,0);
  transition: 300ms;
}

.project-info h3:hover {
  border-bottom: 1px solid black;
}

.stack {
  margin: 8px 0;
}

.stack-skill {
  width: 32px;
  height: 32px;
}

.subtitle {
  color: rgb(100, 100, 100);
}

.role {
  color: rgb(87, 0, 0);
  font-weight: bold;
}

.bio-block {
  padding: 8px;
  margin: 8px 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.bio-info {
  padding: 8px;
  line-height: 30px;
}

.bio-info p {
  font-size: 20px;
}

.bio-photo img {
  height: 100%;
  border-radius: 10px;
}

.main-skill {
  background: linear-gradient(transparent 55%, rgba(255, 0, 10, 0.21) 10%, rgba(255, 0, 10, 0.21) 90%, transparent 120%);
  font-size: 24px;
}

.divider {
  padding: 0 8px;
}

.skills-box  {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin: 8px auto;
  display: grid;
  column-gap: 6%;
  row-gap: 24px;
  grid-template-columns: repeat(auto-fill, 72px);
  justify-content: center;
}

@media (max-width: 1200px) {
  .project-info {
    flex-grow: 1;
  }
}

@media (max-width: 800px) {
  .project-card {
    flex-direction: column;
  }

  .project-photo {
    width: 100%;
  }

  .bio-block {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .skills-box {
    grid-template-columns: repeat(auto-fill, 70px);
  }
}

@media (max-width: 419px) {
  .bio-photo img {
    width: 350px;
  }

  h2 {
    font-size: 32px;
  }
}

.skill-logo {
  height: 100%;
  width: 100%;
}

.github-logo:hover {
  opacity: .7;
}
